In [2]:
from gtbook.discrete import Variables
from gtbook.display import pretty

import numpy as np
import pandas as pd
import gtsam

import plotly.express as px

import gtbook
VARIABLES = Variables()
def pretty(obj): 
    return gtbook.display.pretty(obj, VARIABLES)

In [3]:
categories = ["cardboard", "paper", "can", "scrap metal", "bottle"]
actions = ["glass bin", "metal bin", "paper bin", "nop"]
cost = np.array([[2,  2,  4,  6,  0],
                 [1,  1,  0,  0,  2],
                 [0,  0,  5, 10,  3],
                 [1,  1,  1,  1,  1]])
pd.DataFrame(cost, index=actions, columns=categories)

           cardboard  paper  can  scrap metal  bottle
glass bin          2      2    4            6       0
metal bin          1      1    0            0       2
paper bin          0      0    5           10       3
nop                1      1    1            1       1